nav#Main
    ul.nav.nav-pills
        li
          a(href='home.html') Introduction
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Water
            b.caret
          ul.dropdown-menu
            li
              a(href='irrigation.html') Irrigation
            li
              a(href='stress.html') Stress
            li
              a(href='supply.html') Supply
            li
              a(href='sanitation.html') Sanitation
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Biodiversity
            b.caret
          ul.dropdown-menu
            li
              a(href='species.html') by Region
            li
              a(href='biome.html') by Biome
            li
              a(href='MSAdrivers.html') MSA drivers
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | climate
            b.caret
          ul.dropdown-menu
            li
              a(href='emissionstemperatures.html') emissions temperatures
            li
              a(href='co2BySources.html') CO2 emissions by sources
            li
              a(href='kaya.html') The Kaya Identity
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Health
            b.caret
          ul.dropdown-menu
            li
              a(href='PM10.html') PM10 concentrations in larger cities
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Socio-economics factors
            b.caret
          ul.dropdown-menu
            li
              a(href='GDP.html') GDP