
extends _baseLayout

block realStuff
	.row
		.span8.offset1
			h1
				img(src='_src/OECD/bitmaps/1_Identity/OECD_globe_50px.png', alt='OECD', width='52px', height='50px')
				= title
		h2.span3 some subtitle
		p.span5
			| Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.
		