
extends _baseLayout

block realStuff
	.row
		.span10			h2
	.row
		.span10
			.well
				.row#chartControl
					.span9
						//- #pages.pagination
						#text
				.row
					.span9
						#chart
						#pages.pagination
		
block d3Scripts	
	script(type="text/javascript", src=d3Path+"model/supply.js")
	script(type="text/javascript", src=d3Path+"view/evolution_div.js")
	
	
		