
extends _baseLayout

block realStuff
	.row
		#Cover.span9
			.span2.offset2
				img(src='_src/OECD/bitmaps/1_Identity/OECD_globe_110px.png', alt='OECD', width='110px', height='110px')
			.span4
				h1= title
				h2 Charts and <br />visualisations