
extends _baseLayout

block realStuff
	.row
		.span10			h2 Pressures on global biodiversity
	.row
		.span10
			.well
				.row#chartControl
					.span9
						p#text
				#chart
				#pages.pagination
		
block d3Scripts	
	script(type="text/javascript", src=d3Path+"MSAdrivers.js")
		